In [13]:
'''
In this notebook, we'll practice writing to our S3 bucket, and reading a file from said S3 bucket
Let's import our packages
'''

import pandas as pd
import boto3

In [14]:
#This script will run in 

aws_access_key_id = os.getenv('AWS_ACCESS_KEY_ID')
aws_secret_access_key = os.getenv('AWS_SECRET_ACCESS_KEY')

aws_s3_bucket = "latestnfldata"

In [15]:
#Let's preview our csv file that we want to send to S3

df = pd.read_csv('nfl_training_data_2023.csv')
df.head()

,Unnamed: 0,season,week,team,completions_shifted,attempts_shifted,passing_yards_shifted,passing_tds_shifted,interceptions_shifted,sacks_shifted,...,is_over,is_fav,is_cover_record_shifted,rank_is_cover_record_shifted,is_winner_record_shifted,rank_is_winner_record_shifted,is_over_record_shifted,rank_is_over_record_shifted,is_fav_record_shifted,rank_is_fav_record_shifted
0,0,2018,1,ARI,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018,2,ARI,20.0,34.0,153.0,0.0,1.0,2.0,...,0,0,0.000000,24.0,0.0,24.0,0.0,25.5,1.000000,8.5
2,2,2018,3,ARI,17.0,27.0,90.0,0.0,1.0,1.0,...,0,0,0.000000,28.0,0.0,28.0,0.0,29.0,0.500000,16.5
3,3,2018,4,ARI,17.0,26.0,193.0,2.0,3.0,4.0,...,0,0,0.333333,22.0,0.0,31.0,0.0,31.5,0.333333,22.5
4,4,2018,5,ARI,15.0,27.0,180.0,1.0,0.0,1.0,...,1,0,0.500000,14.5,0.0,30.0,0.0,30.0,0.250000,23.0

In [16]:
#Now we can use pandas to write this file to S3

df.to_csv(
    f"s3://{aws_s3_bucket}/nfl_training_data_2023.csv",
    index=False,
    storage_options={
        "key": aws_access_key_id,
        "secret": aws_secret_access_key,
        }
)

In [17]:
#Upload was successful

In [19]:
#Now we can read the file from the S3 bucket as such


df = pd.read_csv(
    f"s3://{aws_s3_bucket}/nfl_training_data_2023.csv",
    storage_options={
        "key": aws_access_key_id,
        "secret": aws_secret_access_key,
        }
)

df.head()

,Unnamed: 0,season,week,team,completions_shifted,attempts_shifted,passing_yards_shifted,passing_tds_shifted,interceptions_shifted,sacks_shifted,...,is_over,is_fav,is_cover_record_shifted,rank_is_cover_record_shifted,is_winner_record_shifted,rank_is_winner_record_shifted,is_over_record_shifted,rank_is_over_record_shifted,is_fav_record_shifted,rank_is_fav_record_shifted
0,0,2018,1,ARI,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018,2,ARI,20.0,34.0,153.0,0.0,1.0,2.0,...,0,0,0.000000,24.0,0.0,24.0,0.0,25.5,1.000000,8.5
2,2,2018,3,ARI,17.0,27.0,90.0,0.0,1.0,1.0,...,0,0,0.000000,28.0,0.0,28.0,0.0,29.0,0.500000,16.5
3,3,2018,4,ARI,17.0,26.0,193.0,2.0,3.0,4.0,...,0,0,0.333333,22.0,0.0,31.0,0.0,31.5,0.333333,22.5
4,4,2018,5,ARI,15.0,27.0,180.0,1.0,0.0,1.0,...,1,0,0.500000,14.5,0.0,30.0,0.0,30.0,0.250000,23.0